.footer {
  background-color: #24852A;
  width: 100vw;
  color: white;
}

.container {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo{
  object-fit: cover;
  object-position: bottom;
}

.social {
  display: flex;
  gap: 26px;
  margin-top: 60px;
}

.span {
  color: #C7F6CA;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
  display: block;
}

.links {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 132px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
    flex-direction: column;
  }

  .social {
    position: absolute;
    bottom: 40px;
  }

  .span {
    margin-top: 40px;
  }

  .links {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 76px;
  }
}