.footer {
  background-color: #24852A;
  width: 100vw;
  color: white;
}

.container {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.logo{
  object-fit: cover;
  object-position: bottom;
}

.social {
  display: flex;
  gap: 26px;
  margin-top: 60px;
}

.span {
  color: #C7F6CA;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
  display: block;
}



.links {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 132px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}