.page {
  padding: 65px 100px 100px;
  color: #191A1D;
  width: 100%;
}

.title{
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

.subtitle{
  font-size: 18px;
  line-height: 1;

}

.for {
  &_header {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 40px;
  }
}

.box {
  display: flex;
  gap: 20px;

  &_item {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 30px;

    &__image {
      border-radius: 18px;
      overflow: hidden;
      flex-shrink: 0;
      margin-bottom: 40px;
    }

    &__header {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 24px;
    }

    &__span {
      color: #475569;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      display: inline-block;
    }
  }
}

.hero {
  margin-top: 100px;
  width: 100%;
  border-radius: 20px;
  background-color: #4DAC52;
  padding: 50px 30px;
  margin-bottom: 190px;
  position: relative;
  color: white;
  height: 834px;

  &_title {
    width: 600px;
    margin-bottom: 30px;
  }

  &_subtitle {
    width: 340px;
  }

  &_tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 50px;
    width: 752px;
    position: absolute;
    right: 38px;
    top: 160px;

    &__item {

      &_header {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 600;
    }

    &__subtitle {
      margin-left: 40px;
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #C7F6CA;

    }
  }

  &_image {
    position: absolute;
    bottom: -73px;
    left: 0;
  }
}

.solar {
  width: 100%;
  border-radius: 20px;
  background-color: #F6F6F6;
  padding: 54px 30px;
  margin-bottom: 173px;
  position: relative;
  color: #191A1D;
  height: 809px;

  &_title {
    width: 300px;
    margin-bottom: 26px;
  }

  &_subtitle {
    width: 350px;
    color: #475569
  }

  &_tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 752px;
    position: absolute;
    right: 38px;
    top: 160px;

    &__item {

      &_header {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 600;
    }

    &__subtitle {
      margin-left: 40px;
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #475569
    }
  }

  &_image {
    position: absolute;
    bottom: -90px;
    left: 0;
  }
}

.tech {
  &_title {}

  &_subtitle {}

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 114px;
    margin-top: 36px;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      color: #191A1D;
      gap: 20px;

      &_item {
        background-color: #F6F6F6;
        padding: 24px 40px 40px;
        border-radius: 20px;
        height: 100%;
        min-height: 245px;
        position: relative;
      }

      &_title {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 11px;
      }

      &_subtitle {
        color: #50AE55;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 11px;
      }

      &_list {
        list-style: disc;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-left: 18px;
      }

      &_image {
        flex-shrink: 0;
        object-fit: contain;
        position: absolute;
        right: 21px;
        bottom: 0;
        height: auto;
      }

      &_custom {
        color: #FFFFFF;

        .tech_grid__column_title {
          width: 350px;
        }

        .tech_grid__column_subtitle {
          color: #C7F6CA;
          font-weight: 400;
          width: 275px;
        }

        .tech_grid__column_image {
          right: 0;
        }

        &:first-child {
          background-color: #0E221D;

          .tech_grid__column_image {
            bottom: -18px;
          }
        }

        &:last-child {
          background-color: #50AE55;

          .tech_grid__column_image {
            bottom: -14px;
          }

          li {
            &:not(:first-child) {
              width: 275px;
            }
          }
        }
      }
    }
  }
}

.cooperation {
  width: 100%;

  &_title {
    margin-bottom: 40px;
  }

  &_container {
    background-color: #F6F6F6;
    height: 650px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 35px;
  }

  &_item {
    padding: 31px 31px 45px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 370px;
    color: #191A1D;
    height: 100%;
    display: flex;
    flex-direction: column;

    &:first-child {
      .cooperation_item__title {
        width: 200px;
      }
    }

    &__title {
      margin-top: 20px;
      font-size: 24px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &__subtitle {
      color: #475569;
      font-size: 16px;
      font-weight: 400;
    }

    &__advantages {
      color: #009B24;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 16px;
      margin-top: auto;
    }

    &__slug {
      color: #475569;
      font-size: 16px;
      font-weight: 400;
      margin: 16px 0;
    }

    &__list {
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-left: 18px;
    }
  }
}