.banner {
  margin-top: 27px;
  border-radius: 20px;
  width: 100%;
  padding: 45px 40px;
  min-height: 336px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_header {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }

  &_subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-top: 20px;
  }


}

.gpu {
  background-color: #0E221D;
  color: white;
  gap: 40px;
  padding-right: 0;

  &_description {
    width: 530px;
  }
}

.solar {
  background-color: #50AE55;
  color: white;
  gap: 100px;
  padding-left: 52px;

  &_description {
    width: 485px;
  }
}

.hybrid {
  background-color: #F6F6F6;
  gap: 100px;
  padding-top: 0;
  padding-bottom: 0;

  &_description {
    width: 485px;

    .banner_subtitle {
      color: #475569
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 20px;
    flex-direction: column;

    &_header {
      font-size: 24px;
      line-height: 28px;
      width: 100%;
    }

    &_subtitle {
      font-size: 16px;
    }

    &_image {
      max-width: 100%;
      object-fit: contain;
    }
  }

  .gpu {
    margin-top: 0;

    &_description {
      width: 100%;
    }
  }

  .solar {
    flex-direction: column-reverse;

    &_description {
      width: 100%;
    }
  }

  .hybrid {
    &_description {
      width: 100%;
    }
  }
}