.container {
    padding: 40px 100px;
}

.main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 105px;
    color: #191A1D;
    margin-bottom: 100px;
}

.main_image {
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.details {

}

.details_header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
}

.link {
    border: 1px solid #50AE55;
    width: 100%;
    justify-content: space-between;

    &:hover {
        border-color: #475569;
        transition: 0.3s;
    }
}

/* Таблица сравнения */
.tableWrapper {
    overflow-x: auto;
    margin-bottom: 30px;
}

.comparisonTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.comparisonTable th {
    background-color: #f2f2f2;
    color: #000;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
}

.comparisonTable td {
    padding: 10px 15px;
    border: 1px solid #ddd;

    &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        text-align: center;
    }
}

.comparisonTable tr:nth-child(even) {
    /*background-color: #f5f5f5;*/
}

.comparisonTable tr:hover {
    background-color: #eaeceb;
}

.highRating {
    color: #d00;
    font-weight: 600;
}

.goodRating {
    color: #0a0;
    font-weight: 600;
}

.mediumRating {
    color: #d90;
    font-weight: 600;
}

.lowRating {
    color: #d33;
    font-weight: 600;
}

/* Стили для секции ТО */
.maintenanceInfo {
    margin-top: 30px;
    /*padding: 20px;*/
    /*background-color: #f8f8f8;*/
    /*border-radius: 8px;*/
}

.maintenanceTitle {
    font-size: 22px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.serviceInterval_title {
    font-size: 22px;
    font-weight: normal;
}

.serviceInterval_item {
    padding-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.serviceInterval_item__span {
    font-weight: normal;
}

.maintenanceDescription {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.maintenanceTable {
    margin-bottom: 30px;
}

.parameterBlock {
    margin-bottom: 40px;
    padding-bottom: 30px;
    /*border-bottom: 1px solid #eaeceb;*/
    margin-top: 30px;
}

.parameterTitle {
    font-size: 22px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.parameterIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #85e28f;
}

.tip {
    background-color: #eaeceb;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.tipIcon {
    margin-right: 10px;
}

/* Итоги и выводы */
.summaryBlock {
    margin: 40px 0 20px;
    padding: 25px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.summaryTitle {
    font-size: 22px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.summaryList {
    padding-left: 20px;
}

.summaryList li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
}

.summaryList li::before {
    content: '✅';
    position: absolute;
    left: -25px;
}

.conclusion {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
}

.costsList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.costsList li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.costsList li span {
    margin-right: 10px;
}

.maintenanceCosts {
    margin-top: 30px;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.maintenanceCosts h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.parameterIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #85e28f;
}

.keyPoints {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.keyPoints h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.checkList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.checkList li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.details_p {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.news {
    color: #191A1D;
    padding: 0 100px
}

.news_header {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 40px;
}

.news_list {
    display: flex;
    justify-content: space-between;
    gap: 43px;
}

.news_image {
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}

.news_item {
    display: flex;
    flex-direction: column;
}

.news_item__header {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

.news_item__span {
    color: #475569;
    margin-bottom: 16px;
}

.whatIsGPU_p {
    font-weight: bold;
}

.checkList_simple {
    margin-top: 16px;
}

.checkList_simple li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*.checkList li::before {*/
/*    content: '✅';*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/

.checkList_simple li::before {
    content: '';
    position: absolute;
    left: 0;
}

.subTitle {
    font-size: 18px;
    margin: 15px 0 10px;
    color: #444;
    border-left: 3px solid #41A747;
    padding-left: 10px;
}

.imageWrapper {
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.imageWrapper_list {
    display: block;
    position: absolute;
    top: 50%;
    text-align: left;
}

.imageWrapper_list__item {
    border-bottom-style: solid;
}

.schemeImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 960px) {
    .imageWrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .imageWrapper_list {
        margin-top: 10px;
        position: relative;
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 40px 20px;
        max-width: 100vw;
    }

    .main {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 0;
    }

    .main_image {
        width: 100%;
        height: 272px;
    }

    .news {
        padding: 40px 20px;
    }

    .news_header {
        font-size: 36px;
    }

    .news_list {
        flex-direction: column;
    }

    .news_item {

    }

    .news_image {
        width: 100%;
    }

    .costsList {
        li {
            padding-left: 0;

            span {
                margin-right: 2px;
            }
        }
    }

    .links {
        width: 100%;
    }

    .imageWrapper_list {
        margin-top: 10px;
        position: relative;
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr 2fr 2fr;
        text-align: center;
    }

    .parameterBlock {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}