.blog {
    background-color: #F6F6F9;
    padding: 12px 0 60px 0;
    width: 100vw;
}

.blog_container {
    padding: 0 100px;
}

.blog_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_header {
    font-size: 40px;
    font-weight: 600;
}

.blog_list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.blog_list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 277px;
    flex-shrink: 0;
}

.list__itemImage {
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 16px;
    overflow: hidden;
}

.list__itemHeader {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #191A1D
}

.list__itemSpan {
    color: #475569;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
}

@media (max-width: 768px) {
    .blog_container {
        padding: 0 20px;
    }

    .blog_heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .blog_button {
        width: 100%;
        justify-content: space-between;
    }

    .blog_list {
        width: 100%;
        overflow-x: scroll;
        gap: 20px;
        margin-top: 30px;
    }

    .blog_list__item {
        width: 204px;
    }

    .list__itemImage {
        max-width: 100%;
        height: 216px;
    }
}

