/* src/app/components/Container/container.css */
.container {
    max-width: 1400px;
    margin: 100px auto 0;
    padding: 0 15px;
    width: 100%;
}

@media (max-width: 1450px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }
}