.page {
    padding: 60px 100px 0;
    color: #191A1D;
    width: 100%;
}

.for_header {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 40px;
}

.for_item {
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 30px;
}

.item_image {
    border-radius: 18px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.item_header {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 24px;
    margin-top: 40px;
}

.item_span {
    color: #475569;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    max-width: 850px;
    display: inline-block;
}

.main_title {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
}

.main_subtitle {
    width: 600px;
    margin-bottom: 20px;
    color: #475569;
}

.for_cooperation_list {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .page {
        padding: 40px 20px;
    }

    .for_header {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .for_item {
        padding: 20px
    }

    .item_image {
        width: 105px;
        height: 88px;
    }

    .item_header {
        margin-top: 20px;
        margin-bottom: 16px;
        font-size: 20px;
    }

    .main_title {
        margin-top: 40px;
        margin-bottom: 16px;
        max-width: 100%;
        font-size: 36px;
    }

    .main_subtitle {
        max-width: 100%;
    }

    .for_cooperation_list {
        flex-direction: column;
    }
}