.why {
    padding: 50px 0;
    /*max-width: 900px;*/
    /*margin-top: 50px;*/
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eaeceb;
    /*margin-top: 25px;*/
}

.list {
    max-width: 900px;
    margin-top: 20px;
}

.listItem {
    display: flex;
    text-align: left;
    margin-top: 8px;
    font-size: 18px;

    .listItem_span {
        font-weight: bold;
    }

    .listItem_span__link {
        color: #85e28f;
        text-decoration: underline;
    }
}

@media (max-width: 950px) {
    .why {
        padding: 20px;
        width: auto;
    }
}