/* ./src/app/cooperation/cooperation.module.css */
.container {
    padding: 60px 100px 100px;
    width: 100%;
    color: #191A1D;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description {
    color: #475569;
    font-size: 18px;
    font-weight: 400;
    width: 607px;
    display: inline-block;
}

.sectors {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.sector {
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    gap: 75px;

    &:last-child {
        flex-direction: row-reverse;

        .sector_details {
            margin-right: auto;
        }
    }
}

.sector_image {
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
}

.sector_details {
    display: flex;
    flex-direction: column;
    padding-top: calc(205px - 40px);
}

.sector_header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.sector_span {
    color: #475569;
    line-height: 1;
    width: 340px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sector_button {
    width: max-content;
    margin-top: auto;
}