.container {
  padding: 60px 100px 100px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 20px;
  width: 100%;
  margin: 0 auto;
  color: #191A1D;

  &_item {
    background-color: #F6F6F6;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: space-between;

    &:nth-child(odd) {
      flex-direction: column;
    }

    &_wrapper {

    }

    &_header {
      margin-top: 25px;
      font-size: 32px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 20px;
    }

    &_description {
      flex-grow: 1;
      color: #475569;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      margin-bottom: 40px;
    }

    &_button {
      width: max-content;
    }
  }

  &_item.fullWidth {
    grid-column: span 2;
    background-size: cover;
    background-position: center;

    .list_item_wrapper {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 40px;
      border-radius: 20px;
      width: 598px;
      height: 358px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;
    }

    .list_item_header {
      margin-top: auto;
    }

    .list_item_description {
      //height: 340px;
      display: flex;
      flex-shrink: 0;

    }
  }
}

.itemImage {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_item {
      padding: 20px;
      gap: 20px;
      height: max-content;
      flex-direction: column;

      &_header {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 24px;
      }

      &_description {
        margin-bottom: 20px;
      }

      &_button {
        width: 100%;
        justify-content: space-between;
        font-size: 14px !important;
      }
    }

    &_item.fullWidth {
      height: 424px;

      .list_item_wrapper {
        width: 100%;
        height: max-content;
        margin-top: 0;
        padding: 20px;
        background-color: white;
      }

      .list_item_button {
        border: 1px solid #50AE55;
        height: 43px;
      }
    }
  }

  .itemImage {
    height: 170px;
  }
}